<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheirs</title>
    <link rel="stylesheet" href="/style/404style.css">
</head>
<body>
    <body>
        <header>
          <div class="image">
            <img src="./img/4877eec5a536633b1e3f5e3a576146d0.png" alt="" />
          </div>
          <div class="input">
            <img src="./img/search.png" alt="" />
            <input type="text" id="search-input" placeholder="Search" />
          </div>
        </header>
    
        <div class="home">
          <a href="">Home > 404</a>
        </div>
    
        <div class="product-list">
            <h3 class="mistake">404 Not Found</h3>
            <p class="mistake-text">Go to main page</p>
        </div>

        <script src="/js/options.js"></script>
</body>
</html>