<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <header>
        <div class="image">
          <img src="./img/4877eec5a536633b1e3f5e3a576146d0.png" alt="" />
        </div>
        <div class="input">
          <img src="./img/search.png" alt="" />
          <input type="text" id="search-input" placeholder="Search" />
        </div>
    </header>

    <script src="/js/options.js"></script>
    <script src="/Products/Products/index.js"></script>
</body>
</html>