<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New product</title>
    <!-- <link rel="stylesheet" href="/JS/NodeJs-3/Проект/Products/public/style/newstyle.css"> -->
    <link rel="stylesheet" href="/style/newstyle.css">
  </head>
  <body>
    <header>
      <div class="image">
        <img src="./img/4877eec5a536633b1e3f5e3a576146d0.png" alt="" />
      </div>
      <div class="input">
        <img src="./img/search.png" alt="" />
        <!-- <i>🔍</i> -->
        <input type="text" id="search-input" placeholder="Search" />
        <!-- <button>Search</button> -->
      </div>
    </header>
    <div class="home">
      <a href="">Home > new products</a>
    </div>

    <div class="product-list">
      <div class="add-prod">
        <a href="">Добавить товар</a>
      </div>

      <div class="buttons">
        <input type="text" name="" id="" placeholder="Название продукта" />
        <input type="text" name="" id="" placeholder="Цена" />
        <input type="text" name="" id="" placeholder="Скидка" />
        <input type="text" name="" id="" placeholder="URL картинки" />
        <button type="button">Добавить продукт</button>
      </div>
    </div>

    <script src="/JS/NodeJs-3/Проект/Products/new.js"></script>
  </body>
</html>
